
@{
    ViewBag.Title = "Index";
}


<style>
 
    h2 {
        margin: 20px 0px 20px 0px;
    }
</style>


<div class="container">
    <h2>Projekti</h2>

    <div class="row no-gutters">
        <div class="col-10 col-sm-4 col-md-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="~/Prijava/Index">Index</a></li>
                    <li class="breadcrumb-item"><a href="~/Izbornik/Izbornik">Izbornik</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Projekt</li>
                </ol>
            </nav>
        </div>
    </div>



    <h3>Izaberi iz izbornika:</h3>
    <p>
        @Html.ActionLink("Upis projekta", "UpisProjekta", "Projekt")
    </p>
    <p>
        @Html.ActionLink("Popis projekata", "PopisProjekata", "Projekt")
    </p>
    <p>
        @Html.ActionLink("Izmjena projekata", "IzmjenaProjekata", "Projekt")
    </p>
    <p>
        @Html.ActionLink("Povratak", "Izbornik", "Izbornik")
    </p>
</div>

