
@{
    ViewBag.Title = "IzbrisanProjekt";
}

<h2>Projekt izbrisan</h2>

<p>

    <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>

    @Html.ActionLink("Povratak", "Index", "Projekt")

</p>

