
@{
    ViewBag.Title = "IzbrisiZaposlenika";
}



<div class="container">

    <h2>Izbriši zaposlenika</h2>

    <p>
        <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
        @Html.ActionLink("Povratak", "Index", "Zaposlenici")
    </p>

</div>