
@{
    ViewBag.Title = "IzmjenaZaposlenika";
}

<div class="container">

    <h2>Izmjena podataka o zaposleniku</h2>

    <p>
        <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
        @Html.ActionLink("Povratak", "Index", "Zaposlenici")
    </p>

</div>
