
@{
    ViewBag.Title = "PopisZaposlenika";
}


<div class="container">

    <h2>Popis zaposlenika</h2>

    <p>
        <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
        @Html.ActionLink("Povratak", "Index", "Zaposlenici")
    </p>

</div>